.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .smallContainer {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
  }
  
  .card {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .inlineContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .input {
    flex-grow: 1;
  }
  
  .button {
    text-align: center;
  }
  
  .btn {
    margin-top: 10px;
    width: 30%;
  }
  
  @media (min-width: 576px) {
    .smallContainer {
      width: 100%;
    }
  }
  
  @media (min-width: 768px) {
    .smallContainer {
      width: 50%;
    }
  }



  /* styles.css */

.powered-by {
  

  text-align: center;

}

.powered-by a {
  text-decoration: none;
}

.containerlogo{
  text-align: center;
}

.logo-image{
  width: 80px; /* Adjust the width as needed */
height: auto;
}

.col-md-12{
  color: rgb(8, 8, 8);
}

.link{
  text-align: end;
}
